@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
    font-family: "Inter", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.conteyner {
    width: 1120px;
    margin: auto;
    position: relative;
}

.emmer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.emmer__left{
    cursor: pointer;
}

.emmer__medium {
    display: flex;
    align-items: center;
    gap: 15px;
}

.er_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 23.12px;
    color: #8888;
    cursor: pointer;
    transition: .5s;
}

.er_text:hover {
    transition: .5s;
    color: #E21A43;
}

.emmer__right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.em_left {
    width: 200px;
    height: 40px;
    background: #f3e3e8;
    display: flex;
    cursor: pointer;
}

input {
    background: #f3e3e8;
    color: #8888;
    border: none;
    width: 160px;
    padding-left: 15px;
}

.em {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background: #E21A43;
    color: #fff;
    cursor: pointer;
}

.em_medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    font-size: 18px;
    background: #f3e3e8;
    color: #E21A43;
    cursor: pointer;
}

.em_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    font-size: 18px;
    background: #f3e3e8;
    color: #E21A43;
    cursor: pointer;
}

.tech{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 90px;
}

.h1{
    font-weight: 600;
    font-size: 52px;
    line-height: 80px;
    color: #333333;
}

.tech__p{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.tech__button{
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

.tech_left{
    width: 120px;
    height: 40px;
    background: #E21A43;
    color: #fff;
    font-size: 16px;
    border: none;
    transition: .5s;
}

.tech_left:hover{
    transition: .5s;
    color: #E21A43;
    background: #fff;
    border: 1px solid #E21A43;
}

.tech_right{
    width: 120px;
    height: 40px;
    background: #fff;
    color: #E21A43;
    font-size: 16px;
    border: 1px solid #E21A43;
    transition: .5s;
}

.tech_right:hover{
    transition: .5s;
    background: #E21A43;
    color: #fff;
}

.tech__right{
    padding-top: 100px;
    width: 480px;
    height: 500px;
    left: 653px;
    position: absolute;
}

.tech__img{
    width: 100%;
    height: 100%;
}

.meta__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
    position: relative;
}

.product{
    position: absolute;
    top: 40px;
    
    background: #F7F7F7;
}

.product__left{
    width: 290px;
    background: #fff;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
}

h1{
    font-size: 32px;
    padding-bottom: 10px;
}

.product_botton{
    width: 130px;
    height: 40px;
    border: none;
    font-weight: 600;
    background: #f3e3e8;
    color: #E21A43;
}

@media(max-width: 576px){
    .immer{
        display: flex;
    }
    .immer__let{
        text-align: start;
    }
    .immer__medium{
        text-align: end;
    }

    .girl_box{
        text-align: center;
    }

    .sm-girl-img{
        width: 350px;
        height: 360px;
    }

    .col-12{
        text-align: center;
    }

    .text_header{
        padding-bottom: 20px;
    }

    .header_btn{
        width: 100px;
        height: 40px;
        
    }

    .header__btn{
        width: 100px;
        height: 40px;
    }

    .carousel-inner{
        display: flex;
        align-items: center;
        padding-top: 60px;
    }
}

    